:root {
    --pink: hsl(338, 70%, 55%);
    --teal: hsl(183, 70%, 62%);
    --white: hsl(334, 7%, 95%);
  }
  
  body {
    background: hsl(224, 32%, 12%);
    background-image: conic-gradient(
      from 0deg at 50% 50%,
      blue,
      purple,
      purple,
      blue
    );
    background-blend-mode: multiply;
    min-block-size: 100vh;
    display: grid;
    place-items: center;
  }
  
  pre {
    --selector: var(--pink);
    --property: var(--teal);
    --punctuation: var(--white);
    --undefined: var(--white);
  
    font-size: 3rem;
    font-weight: bold;
    color: var(--undefined);
    background: hsl(222, 45%, 7%);
    padding: 2rem;
    border-radius: 1rem;
  
    position: relative;
  
    transform-style: preserve-3d;
    transform: perspective(5000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
  }
  pre > * {
    text-shadow: 0 0 0.1em currentColor;
  }

  @media screen and (max-width: 768px){
    pre{
      font-size: 2rem;
    }
  }
  @media screen and (max-width: 558px){
    pre{
      font-size: 1.5rem;
      padding: 1rem;
    }
  }
  @media screen and (max-width: 425px){
    pre{
      font-size: 1.27rem;
      padding: 0.84rem;
    }
  }
  @media screen and (max-width: 360px){
    pre{
      font-size: 1.15rem;
      padding: 0.76rem;
    }
  }
  @media screen and (max-width: 330px){
    pre{
      font-size: 1rem;
      padding: 0.6rem;
    }
    
  }
  
  
  
  pre::before,
  pre::after {
    content: "";
    position: absolute;
    border-radius: inherit;
  }
  
  /* shadow */
  pre::before {
    inset: 0.75rem;
    border-radius: inherit;
    background: black;
    z-index: -1;
    transform: translateZ(-50px);
    filter: blur(10px);
    opacity: 0.6;
  }
  
  /* gradient thingy */
  pre::after {
    z-index: -2;
    inset: -1rem;
    background: linear-gradient(-45deg, red, blue);
    transform: translateZ(-50px);
  }
  
  .selector {
    color: var(--selector);
  }
  
  .property {
    color: var(--property);
  }
  
  .punctuation {
    color: var(--punctuation);
  }
  
  .property + .punctuation {
    color: var(--property);
  }
  
  .pre-container {
    position: relative;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    cursor: pointer;
  }
  
  /* extras for CSS only */
  
  .css-only pre {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    transition: transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
  }
  
  .pre-container.css-only > div {
    z-index: 10;
    position: absolute;
    
  }
  
  .pre-container.css-only > div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    inset: 0;
  }
  
  .pre-container.css-only > div:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    inset: 0;
  }
  
  .pre-container.css-only > div:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    inset: 0;
  }
  
  .pre-container.css-only > div:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    inset: 0;
  }
  
  .pre-container.css-only > div:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    inset: 0;
  }
  
  .pre-container.css-only > div:nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    inset: 0;
  }
  
  .pre-container.css-only > div:nth-child(7) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    inset: 0;
  }
  
  .pre-container.css-only > div:nth-child(8) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    inset: 0;
  }
  
  .pre-container.css-only > div:nth-child(9) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    inset: 0;
  }
  
  .pre-container.css-only > div:nth-child(1):hover ~ pre {
    --rotateX: -25deg;
    --rotateY: 25deg;
  }
  
  .pre-container.css-only > div:nth-child(2):hover ~ pre {
    --rotateX: 0deg;
    --rotateY: 25deg;
  }
  
  .pre-container.css-only > div:nth-child(3):hover ~ pre {
    --rotateX: 25deg;
    --rotateY: 25deg;
  }
  
  .pre-container.css-only > div:nth-child(4):hover ~ pre {
    --rotateX: -25deg;
    --rotateY: 0deg;
  }
  
  .pre-container.css-only > div:nth-child(5):hover ~ pre {
    --rotateX: 0deg;
    --rotateY: 0deg;
  }
  
  .pre-container.css-only > div:nth-child(6):hover ~ pre {
    --rotateX: 25deg;
    --rotateY: 0deg;
  }
  
  .pre-container.css-only > div:nth-child(7):hover ~ pre {
    --rotateX: -25deg;
    --rotateY: -25deg;
  }
  
  .pre-container.css-only > div:nth-child(8):hover ~ pre {
    --rotateX: 0deg;
    --rotateY: -25deg;
  }
  
  .pre-container.css-only > div:nth-child(9):hover ~ pre {
    --rotateX: 25deg;
    --rotateY: -25deg;
  }
  
  .wrapper{
    position: relative;
  }
  
  .wrapper .icon {
    bottom: 2rem;
    left: 2rem;

    position: fixed;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    width: 25px;
    height: 25px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }

  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
  }
  path{
    transition: .5s;
  }
.icon:hover path{
    fill:white;
}
  
